<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kohgylw.kiftd.server.mapper.CountryMapper">
    <resultMap id="BaseResultMap" type="kohgylw.kiftd.server.model.Country">
        <result column="country_id" jdbcType="VARCHAR" property="countryId" />
        <result column="country_name" jdbcType="VARCHAR" property="countryName" />
    </resultMap>

    <select id="getCountries" resultMap="BaseResultMap">
        SELECT * FROM COUNTRY;
    </select>

</mapper>