<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kohgylw.kiftd.server.mapper.FeatureMapper">
    <resultMap id="BaseResultMap" type="kohgylw.kiftd.server.model.Feature">
        <result column="feature_id" jdbcType="VARCHAR" property="featureId" />
        <result column="feature_name" jdbcType="VARCHAR" property="featureName" />
    </resultMap>

    <select id="getFeatures" resultMap="BaseResultMap">
        SELECT * FROM FEATURE;
    </select>

    <select id="getFeaturesById" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT * FROM FEATURE WHERE feature_id = #{fid,jdbcType=VARCHAR};
    </select>

</mapper>